SGW.Portal/Service References/ServiceReference1/EntityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56738/EntityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56738/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56738/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGWServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntity_NewManualEntityInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:NewManualEntityInstance" />
  </wsdl:message>
  <wsdl:message name="IEntity_NewManualEntityInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewManualEntityInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IEntity_ProcessWorkflows_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessWorkflows" />
  </wsdl:message>
  <wsdl:message name="IEntity_ProcessWorkflows_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessWorkflowsResponse" />
  </wsdl:message>
  <wsdl:message name="IEntity_ProcessEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessEmails" />
  </wsdl:message>
  <wsdl:message name="IEntity_ProcessEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessEmailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntity">
    <wsdl:operation name="NewManualEntityInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntity/NewManualEntityInstance" message="tns:IEntity_NewManualEntityInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntity/NewManualEntityInstanceResponse" message="tns:IEntity_NewManualEntityInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessWorkflows">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntity/ProcessWorkflows" message="tns:IEntity_ProcessWorkflows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntity/ProcessWorkflowsResponse" message="tns:IEntity_ProcessWorkflows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessEmails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntity/ProcessEmails" message="tns:IEntity_ProcessEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntity/ProcessEmailsResponse" message="tns:IEntity_ProcessEmails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntity" type="tns:IEntity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewManualEntityInstance">
      <soap:operation soapAction="http://tempuri.org/IEntity/NewManualEntityInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessWorkflows">
      <soap:operation soapAction="http://tempuri.org/IEntity/ProcessWorkflows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessEmails">
      <soap:operation soapAction="http://tempuri.org/IEntity/ProcessEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityService">
    <wsdl:port name="BasicHttpBinding_IEntity" binding="tns:BasicHttpBinding_IEntity">
      <soap:address location="http://localhost:56738/EntityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>